
SignalRChatRoom/.vs/SignalRChat/config/applicationhost.config
SignalRChatRoom/.vs/SignalRChat/v16/.suo
SignalRChatRoom/packages/jQuery.1.8.2/Content/Scripts/jquery-1.8.2-vsdoc.js
SignalRChatRoom/packages/jQuery.1.8.2/Content/Scripts/jquery-1.8.2.js
SignalRChatRoom/packages/jQuery.1.8.2/Content/Scripts/jquery-1.8.2.min.js
SignalRChatRoom/packages/jQuery.1.8.2/jQuery.1.8.2.nupkg
SignalRChatRoom/packages/jQuery.1.8.2/jQuery.1.8.2.nuspec
SignalRChatRoom/packages/jQuery.1.8.2/Tools/common.ps1
SignalRChatRoom/packages/jQuery.1.8.2/Tools/install.ps1
SignalRChatRoom/packages/jQuery.1.8.2/Tools/jquery-1.8.2.intellisense.js
SignalRChatRoom/packages/jQuery.1.8.2/Tools/uninstall.ps1
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.1.0.0/Microsoft.AspNet.SignalR.1.0.0.nupkg
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.1.0.0/Microsoft.AspNet.SignalR.1.0.0.nuspec
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.1.0.0/readme.txt
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.Core.1.0.0/lib/net40/Microsoft.AspNet.SignalR.Core.dll
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.Core.1.0.0/lib/net40/Microsoft.AspNet.SignalR.Core.xml
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.Core.1.0.0/Microsoft.AspNet.SignalR.Core.1.0.0.nupkg
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.Core.1.0.0/Microsoft.AspNet.SignalR.Core.1.0.0.nuspec
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.JS.1.0.0/content/Scripts/jquery.signalR-1.0.0.js
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.JS.1.0.0/content/Scripts/jquery.signalR-1.0.0.min.js
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.JS.1.0.0/Microsoft.AspNet.SignalR.JS.1.0.0.nupkg
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.JS.1.0.0/Microsoft.AspNet.SignalR.JS.1.0.0.nuspec
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.Owin.1.0.0/lib/net40/Microsoft.AspNet.SignalR.Owin.dll
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.Owin.1.0.0/lib/net40/Microsoft.AspNet.SignalR.Owin.xml
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.Owin.1.0.0/lib/net45/Microsoft.AspNet.SignalR.Owin.dll
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.Owin.1.0.0/lib/net45/Microsoft.AspNet.SignalR.Owin.xml
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.Owin.1.0.0/Microsoft.AspNet.SignalR.Owin.1.0.0.nupkg
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.Owin.1.0.0/Microsoft.AspNet.SignalR.Owin.1.0.0.nuspec
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.SystemWeb.1.0.0/lib/net40/Microsoft.AspNet.SignalR.SystemWeb.dll
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.SystemWeb.1.0.0/lib/net40/Microsoft.AspNet.SignalR.SystemWeb.xml
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.SystemWeb.1.0.0/lib/net45/Microsoft.AspNet.SignalR.SystemWeb.dll
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.SystemWeb.1.0.0/lib/net45/Microsoft.AspNet.SignalR.SystemWeb.xml
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.SystemWeb.1.0.0/Microsoft.AspNet.SignalR.SystemWeb.1.0.0.nupkg
SignalRChatRoom/packages/Microsoft.AspNet.SignalR.SystemWeb.1.0.0/Microsoft.AspNet.SignalR.SystemWeb.1.0.0.nuspec
SignalRChatRoom/packages/Microsoft.Owin.Host.SystemWeb.1.0.0/lib/net40/Microsoft.Owin.Host.SystemWeb.dll
SignalRChatRoom/packages/Microsoft.Owin.Host.SystemWeb.1.0.0/lib/net40/Microsoft.Owin.Host.SystemWeb.xml
SignalRChatRoom/packages/Microsoft.Owin.Host.SystemWeb.1.0.0/lib/net45/Microsoft.Owin.Host.SystemWeb.dll
SignalRChatRoom/packages/Microsoft.Owin.Host.SystemWeb.1.0.0/lib/net45/Microsoft.Owin.Host.SystemWeb.xml
SignalRChatRoom/packages/Microsoft.Owin.Host.SystemWeb.1.0.0/Microsoft.Owin.Host.SystemWeb.1.0.0.nupkg
SignalRChatRoom/packages/Microsoft.Owin.Host.SystemWeb.1.0.0/Microsoft.Owin.Host.SystemWeb.1.0.0.nuspec
SignalRChatRoom/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
SignalRChatRoom/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
SignalRChatRoom/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nuspec
SignalRChatRoom/packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/Install.ps1
SignalRChatRoom/packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/Uninstall.ps1
SignalRChatRoom/packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/VS.psd1
SignalRChatRoom/packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/VS.psm1
SignalRChatRoom/packages/Newtonsoft.Json.4.5.11/lib/net20/Newtonsoft.Json.dll
SignalRChatRoom/packages/Newtonsoft.Json.4.5.11/lib/net20/Newtonsoft.Json.xml
SignalRChatRoom/packages/Newtonsoft.Json.4.5.11/lib/net35/Newtonsoft.Json.dll
SignalRChatRoom/packages/Newtonsoft.Json.4.5.11/lib/net35/Newtonsoft.Json.xml
SignalRChatRoom/packages/Newtonsoft.Json.4.5.11/lib/net40/Newtonsoft.Json.dll
SignalRChatRoom/packages/Newtonsoft.Json.4.5.11/lib/net40/Newtonsoft.Json.xml
SignalRChatRoom/packages/Newtonsoft.Json.4.5.11/lib/portable-net40%2Bsl4%2Bwp7%2Bwin8/Newtonsoft.Json.dll
SignalRChatRoom/packages/Newtonsoft.Json.4.5.11/lib/portable-net40%2Bsl4%2Bwp7%2Bwin8/Newtonsoft.Json.xml
SignalRChatRoom/packages/Newtonsoft.Json.4.5.11/lib/sl3-wp/Newtonsoft.Json.dll
SignalRChatRoom/packages/Newtonsoft.Json.4.5.11/lib/sl3-wp/Newtonsoft.Json.xml
SignalRChatRoom/packages/Newtonsoft.Json.4.5.11/lib/sl4-windowsphone71/Newtonsoft.Json.dll
SignalRChatRoom/packages/Newtonsoft.Json.4.5.11/lib/sl4-windowsphone71/Newtonsoft.Json.xml
SignalRChatRoom/packages/Newtonsoft.Json.4.5.11/lib/sl4/Newtonsoft.Json.dll
SignalRChatRoom/packages/Newtonsoft.Json.4.5.11/lib/sl4/Newtonsoft.Json.xml
SignalRChatRoom/packages/Newtonsoft.Json.4.5.11/lib/winrt45/Newtonsoft.Json.dll
SignalRChatRoom/packages/Newtonsoft.Json.4.5.11/lib/winrt45/Newtonsoft.Json.xml
SignalRChatRoom/packages/Newtonsoft.Json.4.5.11/Newtonsoft.Json.4.5.11.nupkg
SignalRChatRoom/packages/Newtonsoft.Json.4.5.11/Newtonsoft.Json.4.5.11.nuspec
SignalRChatRoom/packages/Owin.1.0/lib/net40/Owin.dll
SignalRChatRoom/packages/Owin.1.0/Owin.1.0.nupkg
SignalRChatRoom/packages/Owin.1.0/Owin.1.0.nuspec
SignalRChatRoom/packages/repositories.config
SignalRChatRoom/SignalRChat.sln
SignalRChatRoom/SignalRChat.v11.suo
SignalRChatRoom/SignalRChat/bin/Microsoft.AspNet.SignalR.Core.dll
SignalRChatRoom/SignalRChat/bin/Microsoft.AspNet.SignalR.Core.xml
SignalRChatRoom/SignalRChat/bin/Microsoft.AspNet.SignalR.Owin.dll
SignalRChatRoom/SignalRChat/bin/Microsoft.AspNet.SignalR.Owin.xml
SignalRChatRoom/SignalRChat/bin/Microsoft.AspNet.SignalR.SystemWeb.dll
SignalRChatRoom/SignalRChat/bin/Microsoft.AspNet.SignalR.SystemWeb.xml
SignalRChatRoom/SignalRChat/bin/Microsoft.Owin.Host.SystemWeb.dll
SignalRChatRoom/SignalRChat/bin/Microsoft.Owin.Host.SystemWeb.xml
SignalRChatRoom/SignalRChat/bin/Microsoft.Web.Infrastructure.dll
SignalRChatRoom/SignalRChat/bin/Newtonsoft.Json.dll
SignalRChatRoom/SignalRChat/bin/Newtonsoft.Json.xml
SignalRChatRoom/SignalRChat/bin/Owin.dll
SignalRChatRoom/SignalRChat/bin/SignalRChat.dll
SignalRChatRoom/SignalRChat/bin/SignalRChat.dll.config
SignalRChatRoom/SignalRChat/bin/SignalRChat.pdb
SignalRChatRoom/SignalRChat/ChatHub.cs
SignalRChatRoom/SignalRChat/Common/MessageDetail.cs
SignalRChatRoom/SignalRChat/Common/UserDetail.cs
SignalRChatRoom/SignalRChat/Css/ChatStyle.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/images/ui-bg_flat_75_ffffff_40x100.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/images/ui-bg_glass_65_ffffff_1x400.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/images/ui-bg_glass_75_dadada_1x400.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/images/ui-icons_222222_256x240.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/images/ui-icons_2e83ff_256x240.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/images/ui-icons_454545_256x240.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/images/ui-icons_888888_256x240.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/images/ui-icons_cd0a0a_256x240.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/jquery-ui.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/jquery.ui.accordion.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/jquery.ui.all.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/jquery.ui.autocomplete.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/jquery.ui.base.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/jquery.ui.button.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/jquery.ui.core.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/jquery.ui.datepicker.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/jquery.ui.dialog.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/jquery.ui.menu.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/jquery.ui.progressbar.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/jquery.ui.resizable.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/jquery.ui.selectable.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/jquery.ui.slider.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/jquery.ui.spinner.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/jquery.ui.tabs.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/jquery.ui.theme.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/jquery.ui.tooltip.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/images/ui-bg_flat_0_aaaaaa_40x100.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/images/ui-bg_flat_75_ffffff_40x100.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/images/ui-bg_glass_55_fbf9ee_1x400.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/images/ui-bg_glass_65_ffffff_1x400.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/images/ui-bg_glass_75_dadada_1x400.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/images/ui-bg_glass_75_e6e6e6_1x400.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/images/ui-bg_glass_95_fef1ec_1x400.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/images/ui-bg_highlight-soft_75_cccccc_1x100.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/images/ui-icons_222222_256x240.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/images/ui-icons_2e83ff_256x240.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/images/ui-icons_454545_256x240.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/images/ui-icons_888888_256x240.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/images/ui-icons_cd0a0a_256x240.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/jquery-ui.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/jquery.ui.accordion.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/jquery.ui.autocomplete.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/jquery.ui.button.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/jquery.ui.core.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/jquery.ui.datepicker.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/jquery.ui.dialog.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/jquery.ui.menu.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/jquery.ui.progressbar.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/jquery.ui.resizable.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/jquery.ui.selectable.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/jquery.ui.slider.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/jquery.ui.spinner.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/jquery.ui.tabs.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/jquery.ui.theme.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/base/minified/jquery.ui.tooltip.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/images/ui-bg_diagonals-thick_18_b81900_40x40.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/images/ui-bg_diagonals-thick_20_666666_40x40.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/images/ui-bg_flat_10_000000_40x100.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/images/ui-bg_glass_100_fdf5ce_1x400.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/images/ui-bg_glass_65_ffffff_1x400.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/images/ui-bg_highlight-soft_100_eeeeee_1x100.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/images/ui-bg_highlight-soft_75_ffe45c_1x100.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/images/ui-icons_222222_256x240.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/images/ui-icons_228ef1_256x240.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/images/ui-icons_ef8c08_256x240.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/images/ui-icons_ffd27a_256x240.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/images/ui-icons_ffffff_256x240.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/jquery-ui.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/jquery.ui.accordion.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/jquery.ui.all.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/jquery.ui.autocomplete.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/jquery.ui.base.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/jquery.ui.button.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/jquery.ui.core.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/jquery.ui.datepicker.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/jquery.ui.dialog.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/jquery.ui.menu.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/jquery.ui.progressbar.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/jquery.ui.resizable.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/jquery.ui.selectable.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/jquery.ui.slider.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/jquery.ui.spinner.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/jquery.ui.tabs.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/jquery.ui.theme.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/jquery.ui.tooltip.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/images/ui-bg_diagonals-thick_18_b81900_40x40.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/images/ui-bg_diagonals-thick_20_666666_40x40.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/images/ui-bg_flat_10_000000_40x100.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/images/ui-bg_glass_100_f6f6f6_1x400.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/images/ui-bg_glass_100_fdf5ce_1x400.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/images/ui-bg_glass_65_ffffff_1x400.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/images/ui-bg_gloss-wave_35_f6a828_500x100.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/images/ui-bg_highlight-soft_100_eeeeee_1x100.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/images/ui-bg_highlight-soft_75_ffe45c_1x100.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/images/ui-icons_222222_256x240.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/images/ui-icons_228ef1_256x240.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/images/ui-icons_ef8c08_256x240.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/images/ui-icons_ffd27a_256x240.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/images/ui-icons_ffffff_256x240.png
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/jquery-ui.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/jquery.ui.accordion.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/jquery.ui.autocomplete.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/jquery.ui.button.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/jquery.ui.core.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/jquery.ui.datepicker.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/jquery.ui.dialog.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/jquery.ui.menu.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/jquery.ui.progressbar.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/jquery.ui.resizable.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/jquery.ui.selectable.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/jquery.ui.slider.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/jquery.ui.spinner.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/jquery.ui.tabs.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/jquery.ui.theme.min.css
SignalRChatRoom/SignalRChat/Css/JQueryUI/themes/ui-lightness/minified/jquery.ui.tooltip.min.css
SignalRChatRoom/SignalRChat/Global.asax
SignalRChatRoom/SignalRChat/Global.asax.cs
SignalRChatRoom/SignalRChat/Images/delete.png
SignalRChatRoom/SignalRChat/index.html
SignalRChatRoom/SignalRChat/obj/Debug/SignalRChat.csproj.CopyComplete
SignalRChatRoom/SignalRChat/obj/Debug/SignalRChat.csproj.CoreCompileInputs.cache
SignalRChatRoom/SignalRChat/obj/Debug/SignalRChat.csproj.FileListAbsolute.txt
SignalRChatRoom/SignalRChat/obj/Debug/SignalRChat.csprojAssemblyReference.cache
SignalRChatRoom/SignalRChat/obj/Debug/SignalRChat.dll
SignalRChatRoom/SignalRChat/obj/Debug/SignalRChat.pdb
SignalRChatRoom/SignalRChat/packages.config
SignalRChatRoom/SignalRChat/Properties/AssemblyInfo.cs
SignalRChatRoom/SignalRChat/Scripts/jquery-1.8.2.intellisense.js
SignalRChatRoom/SignalRChat/Scripts/jquery-1.8.2.js
SignalRChatRoom/SignalRChat/Scripts/jquery-1.8.2.min.js
SignalRChatRoom/SignalRChat/Scripts/jquery.signalR-1.0.0.js
SignalRChatRoom/SignalRChat/Scripts/jquery.signalR-1.0.0.min.js
SignalRChatRoom/SignalRChat/Scripts/ui/jquery.ui.core.js
SignalRChatRoom/SignalRChat/Scripts/ui/jquery.ui.dialog.js
SignalRChatRoom/SignalRChat/Scripts/ui/jquery.ui.draggable.js
SignalRChatRoom/SignalRChat/Scripts/ui/jquery.ui.mouse.js
SignalRChatRoom/SignalRChat/Scripts/ui/jquery.ui.resizable.js
SignalRChatRoom/SignalRChat/Scripts/ui/jquery.ui.widget.js
SignalRChatRoom/SignalRChat/SignalRChat.csproj
SignalRChatRoom/SignalRChat/SignalRChat.csproj.user
SignalRChatRoom/SignalRChat/Web.config
SignalRChatRoom/SignalRChat/Web.Debug.config
SignalRChatRoom/SignalRChat/Web.Release.config
Task4/.vs/Task4/v16/.suo
Task4/bin/Task4.dll
Task4/bin/Task4.pdb
Task4/Controllers/HomeController.cs
Task4/obj/Debug/Package/PackageTmp/bin/Task4.dll
Task4/obj/Debug/Package/PackageTmp/bin/Task4.pdb
Task4/obj/Debug/Package/PackageTmp/Controllers/HomeController.cs
Task4/obj/Debug/Package/PackageTmp/Views/Home/About.cshtml
Task4/obj/Debug/Package/PackageTmp/Views/Home/Index.cshtml
Task4/obj/Debug/Package/PackageTmp/Views/Shared/_Layout.cshtml
Task4/obj/Debug/Task4.csprojAssemblyReference.cache
Task4/obj/Debug/Task4.dll
Task4/obj/Debug/Task4.pdb
Task4/Views/Home/About.cshtml
Task4/Views/Home/Index.cshtml
Task4/Views/Shared/_Layout.cshtml
Task4/.vs/Task4/v16/.suo
Task4/bin/Task4.dll
Task4/bin/Task4.pdb
Task4/Controllers/HomeController.cs
Task4/obj/Debug/Package/PackageTmp/bin/Task4.dll
Task4/obj/Debug/Package/PackageTmp/bin/Task4.pdb
Task4/obj/Debug/Package/PackageTmp/Controllers/HomeController.cs
Task4/obj/Debug/Package/PackageTmp/Views/Home/About.cshtml
Task4/obj/Debug/Package/PackageTmp/Views/Home/Index.cshtml
Task4/obj/Debug/Package/PackageTmp/Views/Shared/_Layout.cshtml
Task4/obj/Debug/Task4.csprojAssemblyReference.cache
Task4/obj/Debug/Task4.dll
Task4/obj/Debug/Task4.pdb
Task4/Views/Home/About.cshtml
Task4/Views/Home/Index.cshtml
Task4/Views/Shared/_Layout.cshtml
Task4/.vs/Task4/v16/.suo
Task4/bin/Task4.dll
Task4/bin/Task4.pdb
Task4/obj/Debug/Task4.csprojAssemblyReference.cache
Task4/obj/Debug/Task4.dll
Task4/obj/Debug/Task4.pdb
Task4/.vs/Task4/v16/.suo
Task4/bin/Task4.dll
Task4/bin/Task4.pdb
Task4/obj/Debug/Task4.csprojAssemblyReference.cache
Task4/obj/Debug/Task4.dll
Task4/.vs/Task4/v16/.suo
Task4/bin/Task4.dll
Task4/bin/Task4.pdb
Task4/obj/Debug/Task4.csprojAssemblyReference.cache
Task4/obj/Debug/Task4.dll
