@model Chapter
<div>
    <div>
        <span>Глава @Model.Number :</span>
        <span>@Model.Title</span>
        <span>@Model.Body</span>
        @if(User.Identity.IsAuthenticated && User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value == ViewBag.Id) {
            <a asp-controller="Fanfic" asp-action="EditChapter" asp-route-id="@Model.Id">Изменить главу</a>
        }
        </div>
</div>