@model (List<Fanfic> fanfics,List<Fandom> fandoms)
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <a asp-controller="Fanfic" asp-action="UserFanfics" asp-route-sortBy="titleAsc">Название по алфавиту</a>
    <a asp-controller="Fanfic" asp-action="UserFanfics" asp-route-sortBy="titleDesc">Название в обратном порядке</a>
    <div>
        @foreach(Fanfic f in Model.fanfics) {
            <span>@f.Title</span>
            <span>@f.Description</span>
            @foreach(Fandom fandom in Model.fandoms) {
                if(fandom.Id == f.Fandom_Id) {
                    <span>@fandom.Name</span>
                }
            }
            <a asp-controller="Fanfic" asp-action="FanficDetails" asp-route-id="@f.Id">Подробнее</a>
            <hr />
        }
    </div>