<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
    </connectionStrings>
    <appSettings>
        <add key="Host" value="smtp.gmail.com" />
        <add key="Port" value="587" />
        <add key="MailFrom" value="emailapp320@gmail.com" />
        <add key="Password" value="9_zhniunya" />
    </appSettings>
</configuration>